.todo-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  width: 50%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  transition: margin-left ease-in-out 0.2s;
}

.todo-item-container:hover {
  margin-left: 0.3rem;
}

.todo-item-container h3 {
  font-weight: 300;
  font-size: 95%;
}

.btns-container {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.btn {
  text-transform: uppercase;
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #777777;
  flex-grow: 1;
  margin: 0 0.3rem;
  outline: 0;
}

.btn-complete:hover {
  border: 1px solid #44ffff59;
  color: #2ebbbb;
}

.btn-remove:hover {
  border: 1px solid #ff00003d;
  color: #be4040;
}

.complete {
  border-left: 4px solid #2ebbbb;
}

@media screen and (max-width: 824px) {
  .todo-item-container {
    width: 90%;
  }

  .btn {
    flex-grow: 0;
    margin: 0;
  }
}
